endpoint:
  /api/v1/test:
    200:
      data: 2
      sample:
        - |
          {
            "messages": "updated successfully",
            "data": {
              "detail": false,
              "status": "crash"
            },
              "errors": null,
              "code": 200
          }
        - |
          {
            "messages": "data was found",
            "data": {
              "status": "okay",
              "detail": true
            },
            "errors": null,
            "code": 200
          }
    400:
      sample: |
        {
          "code": 400,
          "messages": "validation failed",
          "data": null,
          "errors": [
            {
                "param": "id",
                "message": "id is required"
            }
          ]
        }
  /api/v1/try:
    status: 400
    400:
      sample: |
        {
          "code": 400,
          "messages": "oops!! something was wrong",
          "errors": [
            {
              "param": "id",
              "message": "id is required"
            }
          ]
        }